.app{
    margin: 0;
    padding:0;
    height: 100vh;
}

.board {
  user-select: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.celula {
   @apply w-9 h-9 aspect-square rounded-md;
  }
  
  .celula.hidden {
    visibility: hidden;
  }
  
  .celula.Empty {
    @apply bg-slate-500/70 border outline-1 ;
  }
  
  .celula.I {
    @apply bg-cyan-500 rounded-md border outline-1 shadow-inner shadow-gray-700;
  }
  
  .celula.J {
    @apply bg-blue-700 rounded-md border outline-1 shadow-inner shadow-gray-700;
  }
  
  .celula.L {
    @apply bg-orange-500 rounded-md border outline-1 shadow-inner shadow-gray-700;
  }
  
  .celula.O {
    @apply bg-amber-500 rounded-md border outline-1 shadow-inner shadow-gray-700;
  }
  
  .celula.S {
    @apply bg-lime-500 rounded-md border outline-1 shadow-inner shadow-gray-700;
  }
  
  .celula.T {
    @apply bg-violet-600 rounded-md border outline-1 shadow-inner shadow-gray-700;
  }
  
  .celula.Z {
    @apply bg-red-600 rounded-md border outline-1 shadow-inner shadow-gray-700;
  }



