@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    margin: 0;
    padding:0;
    font-family: "Press Start 2P", sans-serif;
    height: 100vh;
    background-image: url("./assets/kiev.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}